<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/cadastro.css">
    <title>Cadastro | Noctua</title>
</head>

<body>
    <div class="content">
        <div class="left-content">
            <div class="banner">
                <div class="imagemSlogan">
                    <img src="/assets/icon-cadastro-login.svg">
                    <div class="textoSlogan">
                        <!-- <div class="noctuaName">
                            <h1>Noctua</h1>
                        </div> -->
                        <div class="tituloEsquerdo">
                            <h1>Visibilidade total sobre <br> sua infraestrura</h1>
                        </div>
                        <div class="subtituloEsquerdo">
                            <p>Alertas em tempo real. Incidentes detectados antes de impactarem seus usuários.</p>
                        </div>
                        <div class="botaoEsquerdo">
                            <p>Entre em contato</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="right-content">
            <div class="form">
                <a href="/" id="voltarSite"> ← Voltar ao site</a>
                <form id="form_cadastro" onsubmit="cadastrar(event)">
                    <h1>Crie sua conta</h1>
                    <div class="subtitulo">
                        <p>Comece a monitorar sua infraestrutura em minutos.</p>
                    </div>


                    <p>Nome completo</p>
                    <input type="text" name="name" placeholder="Ana Souza" required id="nome_completo">
                    <p>E-mail corporativo</p>
                    <input type="email" name="email" placeholder="anasouza@empresa.com.br" required id="email">
                    <p>CPF</p>
                    <input type="text" name="cpf" placeholder="000.000.000-00" required id="cpf">
                    <p>Senha</p>
                    <input type="password" name="password" placeholder="Senha" required id="password">
                    <p>Confirmar senha</p>
                    <input type="password" name="confirm_password" placeholder="Confirmar senha" required
                        id="confirm_password">
                    <button>Cadastrar</button>

                </form>

                <div class="login-link">
                    <p>Já tem uma conta? <a href="./login.html">Faça login</a></p>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="/js/cadastro.js"></script>
</html>